{% extends 'sport_reserve/base.html' %}
{% block content %}
    <h2>На текущий момент учтено:</h2>
        <ul class="">
            <li>Спортсменов - <a href="{% url 'sportsmen' %}">{{ sportsmen_count }}</a></li>
            <li>Тренеров - <a href="{% url 'trainers' %}">{{ trainers_count }}</a></li>
            <li>Спортивных мероприятий - <a href="{% url 'events' %}">{{ events_count }}</a></li>
            <li>Результатов - <a href="{% url 'results' %}">{{ results_count }}</a></li>
        </ul>
    <h2>Отчеты</h2>
    <ul class="">
    <li class="nav-item"><a href="{% url 'report_weekly'  %}">Отчет отдела за неделю</a></li>
    <li class="nav-item"><a href="{% url 'report_quarterly'  %}">Отчет отдела за квартал</a></li>
    <li class="nav-item"><a href="{% url 'report_winter'  %}">Отчет отдела - зимние виды спорта за сезон</a></li>
    <li class="nav-item"><a href="{% url 'report_summer'  %}">Отчет отдела летние виды спорта только приоритетные</a></li>
    <li class="nav-item"><a href="{% url 'report_champions'  %}">Отчет по призёрам ПР и олимпиад - за период</a></li>
    </ul>
{% endblock %}