{% extends 'sport_reserve\base.html' %}
{% block content %}
    <p>
    <a href="sportsman"><button>Спортсмены</button></a>
    <a href="trainer"><button>Тренеры</button></a>
    <a href="event"><button>События</button></a>
    </p>
    <h1>Отчеты</h1>
    <ul>
    <li><a href="#"><button>Отчет отдела за неделю</button></a></li>
    <li><a href="#"><button>Отчет отдела за квартал</button></a></li>
    <li><a href="#"><button>Отчет отдела - зимние виды спорта за сезон</button></a></li>
    <li><a href="#"><button>Отчет отдела летние виды спорта только приоритетные</button></a></li>
    <li><a href="#"><button>Отчет по призёрам ПР и олимпиад - за период</button></a></li>
    </ul>
{% endblock %}