{% extends 'sport_reserve\base.html' %}

{% block content %}

<h2>События ({{ object_list.count }})</h2>

<table id="result" class="table table-sm table-nowrap table-hover">
<thead>
    <th>Название</th>
    <th>Место проведения</th>
    <th>Вид спорта</th>
    <th>Тип соревнования</th>
    <th>Начало мероприятия</th>
    <th>Конец мероприятия</th>
</thead>
<tbody>
{% for event in object_list %}
    <tr>
        <td><a href="{% url 'event-detail' event.id %}">{{ event.Name }}</a></td>
        <td>{{ event.Place }}</td>
        <td>{{ event.Sport }}</td>
        <td>{{ event.Type }}</td>
        <td>{{ event.DateStart }}</td>
        <td>{{ event.DateEnd }}</td>

    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}