{% extends 'sport_reserve/base.html' %}
{% block content %}
    <style>
        th { width:15%;}
    </style>
    <h1><a href="{% url 'events' %}" alt="Вернуться к списку событий">События</a></h1>

    <table id="events">
    <tr>
    <th>Название</th>
        {% if user.is_authenticated %}
            <td><a href="{% url 'admin:sport_reserve_event_change' event.id %}">{{ event.Name }}&nbsp;<i class="fa fa-lg fa-pencil"></a></td>
        {% else %}
            <td>{{ event.Name }}</td>
        {% endif %}
    </tr>
    <tr>
    <th>Место проведения</th><td>{{ event.Place }}</td>
    </tr>
    <tr>
    <th>Вид спорта</th><td>{{ event.Sport }}</td>
    </tr>
    <tr>
    <th>Тип соревнования</th><td>{{ event.Type }}</td>
    </tr>
    <tr>
    <th>Начало мероприятия</th>
        <td>{{ event.DateStart }}</td>
    </tr>
    <tr>
    <th>Конец мероприятия</th>
        <td>{{ event.DateEnd }}</td>
    </tr>
    </table>

{% if user.is_authenticated %}
    <div><br></div>
    <div><a href="{% url 'admin:sport_reserve_result_add' %}?Event={{ event.id }}&Date={{event.DateStart|date:"o-m-d"}} ">Добавить еще один результат:&nbsp;<i class="fa fa-lg fa-plus-circle"></i></a></div>
{% endif %}
    <h2>Результаты ({{ results_list.count }})</h2>
    <div><br></div>

    <table id="results"  class="table table-sm table-nowrap table-hover">
    <tr>
        <th>Дата</th>
        <th>Группа</th>
        <th>Спортсмен</th>
        <th>Место</th>
        <th>Количество участников</th>
    </tr>
    {% for result in results_list %}
    <tr>
        <td>{{ result.Date }}</td>
        <td>{{ result.Group }}</td>
        <td><a href="{% url 'sportsman-detail' result.Sportsman_id %}">{{ result.Sportsman }}</a></td>
        <td>{{ result.Place }}</td>
        <td>{{ result.Competitors }}</td>
    </tr>
    {% empty %}
        <tr><td>Нет результатов.<td></tr>
    {% endfor %}
    </table>

{% endblock %}