{% extends 'sport_reserve\base.html' %}
{% block content %}
    <h1><a href="{% url 'sportsmen' %}" alt="Вернуться к списку спортсменов">Спортсмены</a></h1>

<table>
<tr>
    <th>ФИО</th>
    <th>Возраст</th>
    <th>Название спорта</th>
    <th>Разряд/звание</th>
    <th>Срок окончания трудового договора</th>
    <th>Срок окончания параллельного зачета</th>
    <th>Текущий тренер</th>
    <th>Физкультурно-спортивная организация</th>
</tr>
    <tr>
        <td><a href="{{ object.id }}">{{ object.FIO }}</a></td>
        <td>{{ object.age}}</td>
        <td>{{ object.Sport.Name }}</td>
        <td>{{ object.Degree }}</td>
        <td>{{ object.AssignmentDate|date }}</td>
        <td>{{ object.ParallelDate|date }}</td>
        <td>
            {% if object.PersonalTrainer %}
                <a href="{% url 'trainer-detail' object.PersonalTrainer_id %}">{{ object.PersonalTrainer.FIO }}</a>
            {% endif %}
        </td>
        <td>{{ object.Organisation }}</td>
    </tr>
</table>

    <div><br></div>
    <table id="results">
    <tr>
        <th>Мероприятие</th>
        <th>Дата</th>
        <th>Группа</th>
        <th>Место</th>
        <th>Количество участников</th>
    </tr>
    {% for result in results_list %}
    <tr>
        <td>{{ result.Event.Name }}</td>
        <td>{{ result.Date }}</td>
        <td>{{ result.Group }}</td>
        <td>{{ result.Place }}</td>
        <td>{{ result.Competitors }}</td>
    </tr>
    {% empty %}
        <tr><td>Нет результатов.<td></tr>
    {% endfor %}
    </table>

{% endblock %}