{% extends 'sport_reserve/base.html' %}
{% block content %}

    <h2><a href="{% url 'sportsmen' %}" alt="Вернуться к списку спортсменов">Спортсмены</a></h2>

<table class="table table-sm table-nowrap table-hover">
<tr>
    <th>ФИО</th>
    <th>Возраст</th>
    <th>Название спорта</th>
    <th>Разряд/звание</th>
    <th>Срок окончания трудового договора</th>
    <th>Срок окончания параллельного зачета</th>
    <th>Текущий тренер</th>
    <th>Физкультурно-спортивная организация</th>
</tr>
    <tr>
        {% if user.is_authenticated %}
        <td><a href="{% url 'admin:sport_reserve_sportsman_change' object.id %} ">&nbsp;{{ object.FIO }}&nbsp;<i class="fa fa-lg fa-pencil"></i></a></td>
        {% else %}
            <td><a href="{{ object.id }}">{{ object.FIO }}</a></td>
        {% endif %}

        <td>{{ object.age}}</td>
        <td>{{ object.Sport.Name }}</td>
        <td>{{ object.Degree }}</td>
        <td>{{ object.AssignmentDate|date }}</td>
        <td>{{ object.ParallelDate|date }}</td>
        <td>
            {% if object.PersonalTrainer %}
                <a href="{% url 'trainer-detail' object.PersonalTrainer_id %}">{{ object.PersonalTrainer.FIO }}</a>
            {% endif %}
        </td>
        <td>{{ object.Organisation }}</td>
    </tr>
</table>

{% if user.is_authenticated %}
    <div><br></div>
    <div><a href="{% url 'admin:sport_reserve_result_add' %}?Sportsman={{ object.id }} ">Добавить еще один результат:&nbsp;<i class="fa fa-lg fa-plus-circle"></i></a></div>
{% endif %}

    <h2>Результаты ({{ results_list.count }})</h2>
    <div><br></div>

    <table id="results" class="table table-striped table-sm table-nowrap table-hover">
    <tr>
        <th>Мероприятие</th>
        <th>Дата</th>
        <th>Группа</th>
        <th>Место</th>
        <th>Количество участников</th>
    </tr>
    {% for result in results_list %}
    <tr>
        <td><a href="{% url 'event-detail' result.Event_id %}">{{ result.Event.Name }}</a></td>
        <td>{{ result.Date }}</td>
        <td>{{ result.Group }}</td>
        <td>{{ result.Place }}</td>
        <td>{{ result.Competitors }}</td>
    </tr>
    {% empty %}
        <tr><td>Нет результатов.<td></tr>
    {% endfor %}
    </table>

{% endblock %}
