{% extends 'sport_reserve/base.html' %}
{% block content %}

<h2>Тренеры ({{ object_list.count }})</h2>
<table id="result" class="table table-sm table-nowrap table-hover">
<thead>
    <th>ФИО</th>
    <th>Телефон 1</th>
    <th>Телефон 2</th>
    <th>E-mail</th>
</thead><tbody>
        {% for trainer in object_list %}
        <tr>
        <td><a href="{% url 'trainer-detail' trainer.id %}">{{ trainer.FIO }}</a></td>
        <td>{{ trainer.Phone1}}</td>
        <td>{{ trainer.Phone1}}</td>
        <td>{{ trainer.Email}}</td>
        </tr>
        {% empty %}
        <tr><td colspan="4">Информация о тренерах отсутствует</td></tr>
        {% endfor %}
</tbody>
</table>
{% endblock %}