{% extends 'sport_reserve\base.html' %}
{% block content %}

<h1>Тренеры</h1>
<table>
<tr>
    <th>ФИО</th>
    <th>Телефон 1</th>
    <th>Телефон 2</th>
    <th>E-mail</th>
</tr>
        {% for trainer in object_list %}
        <tr>
        <td><a href="{% url 'trainer-detail' trainer.id %}">{{ trainer.FIO }}</a></td>
        <td>{{ trainer.Phone1}}</td>
        <td>{{ trainer.Phone1}}</td>
        <td>{{ trainer.Email}}</td>
        </tr>
        {% empty %}
        <tr><td colspan="4">Информация о тренерах отсутствует</td></tr>
        {% endfor %}
</table>
{% endblock %}